.circle-font {
	font-weight: bold;
}

#zipcode-input 
{
	color: #fff;
}

#header.sticky-header #header-wrap {
	
	background-color: #515151;
}

/*change the menu bar in the other pages  */
#header .second-wrap {
		background-color: #515151 !important;
	-webkit-transition: height .4s ease, background-color .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, background-color .4s ease, opacity .3s ease;
	transition: height .4s ease, background-color .4s ease, opacity .3s ease;
}

#slider .section {
	position: relative;
	margin: 60px 0;
	padding: 60px 0;
	background: url(/images/background-1.jpg) 60% 60%;
	overflow: hidden;
}

	
#primary-menu ul li a {
    
    color: #fff;
    
}


#top-search a,
#top-cart a,
#side-panel-trigger a {
	
	color: #fff;
	
}

#primary-menu > ul > li:hover a,
#primary-menu > ul > li.current a { color: #ffbd00; }

#section-download
{
	background-color: #ffb320 !important;
}




