.circle-font {
	font-weight: bold;
}

#zipcode-input 
{
	color: #fff;
}

#header.sticky-header #header-wrap {
	
	background-color: #515151;
}
	
#primary-menu ul li a {
    
    color: #fff;
    
}


#top-search a,
#top-cart a,
#side-panel-trigger a {
	
	color: #fff;
	
}

#primary-menu > ul > li:hover a,
#primary-menu > ul > li.current a { color: #ffbd00; }

#section-download
{
	background-color: #ffb320;
}

